version: '3.7'
services:
  kong:
    image: kong:2.1-alpine
    ports:
      - 8000
      - 8001
      - 8443
      - 8444
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: kong-database
      KONG_PG_DATABASE: postgres
      KONG_PG_USER: postgres
      KONG_PG_PASSWORD: my-secret
      KONG_CASSANDRA_CONTACT_POINTS: kong-database
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_LISTEN: "0.0.0.0:8001, 0.0.0.0:8444 ssl"
      KONG_LOG_LEVEL: debug
    depends_on:
      - kong-database
  kong-database:
    image: postgres:12-alpine
    ports:
      - 5432
    environment:
      POSTGRES_PASSWORD: my-secret
